<!DOCTYPE html>
<html lang="en">
 
   <!-- File Name: html
   Student's Name: Shraboni Paitya Shaily
   Student ID: 301316087
   Date: 02-10-2023 -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="logos">
        <link rel="stylesheet" type="text/css" href="style.css">
</head>
        <img src="images/logo.png" alt="Logo" width="150" height="100">
    </div>
    <title>
        <%= title %>
    </title>
    <hr>
</head>


