<%- include('partials/header.ejs') %>
<section id="about">
    <div class="about-content">
        <img src="images/shaily.jpg" alt="Your Photo" width="300" height="300">
        <h2>About me</h2>
        <p>My name is Shraboni Paitya Shaily. I am an international student from Bangladesh, studying at Centennial College. My program is Software 
            Engineering Technician, and currently I am in my third semester. I love to explore new things.</p>
        <a href="images/Shraboni Paitya Shaily-Resume.pdf" download>Download Resume</a>

        
    </div>
</section>
<%- include('partials/footer.ejs') %>