<%- include('partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="style.css">
    

    <!-- Navigation Bar -->
     <nav>
        <a href="#index">Home</a> |
        <a href="about">About Me</a> | 
        <a href="projects">Projects</a> |
        <a href="service">Services</a> |
        <a href="contact">Contact</a> |
    </nav> 

    <!-- Home Page -->
    <section id="home">
        <div class="welcome">
            <h1>My Portfolio</h1>
            <p>Designer and Developer</p>
        </div>
        <h2>My Mission</h2>
        <section id="main-content">
        <div class="mission-statement">
            <p>"To showcase my diverse talents, skills, and achievements through a thoughtfully curated portfolio that reflects my passion for creativity and excellence."</p>
        </div>
    </section>
        <div class="button">
            <a href="about"class="btn">Who am I?</a>
            
        </div>
    </section>
    
    

    
<%- include('partials/footer.ejs') %>