<%- include('partials/header.ejs') %>
    <section id="projects" >
       
        <div class="project" >
            
            <img src="images/project1.jpeg" alt="Project 1">
            <h3 >Project 1</h3>
            <p><b>Project Title: Pharmacy management system</b><br>

               <b> Project Overview:</b><br>
                
                This project was introduced and developed by me along with my groupmates for the course named Software Requirments Engineering. It is a system  a system that stores data and enables functionality that organizes and maintains the medication use process within pharmacies.
                
                </p>
        </div>
        <div class="project" >
            <img src="images/project2.png" alt="Project 2">
            <h3>Project 2</h3>
            <p><b>Project Title: Ambrosia: Food Ordering Database Management System<br>

                Project Overview:</b><br>
                This project is an online food ordering Database Management System (DBMS) that is crucial to efficiently manage and safeguard the large amount of data involved, maintain data consistency and security, and provide the necessary flexibility and performance needed to deliver a smooth and reliable user experience.

            </p>
        </div>
        <div class="project">
            <img src="images/logo.png" alt="Project 3">
            <h3>Project 3</h3>
            <p><b>Project Title: My Portfolio</b>

                <br><b>Project Overview:</b>
                
                <br>This Portfolio project is a course based individual assignment that helps student to create a Portfolio website using node.js and express.js.
                <br>
                </div>
        
    </section>
    <style>
      h3 {
    font-weight: bold;
    color: #054322; 
    background-color: rgb(141, 192, 238);
   }

    </style>
    <%- include('partials/footer.ejs') %>