<%- include('partials/header.ejs') %>
<section id="service">
    <div class="service">
        <h2>I Offer</h2>
        <ul>
            <li>Bug fixes</li>
            <li>Code review</li>
            <li>Unit testing</li>
            <li>Front-End Development</li>
            <li>Data entry and cleanup</li>
            <li>Technical research</li>
            <li>Pair programming</li>
        </ul>
    </div>
</section>
<%- include('partials/footer.ejs') %>